<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <link href="template/css/Dosis/Dosis.css" rel="stylesheet">
        <link href="template/css/style.css" rel="stylesheet">
    </head>
    </body>
        <div class="center">
            <header class="header">
                <div class="header-content">
                    <a href="#" class="logo">
                        <img src="template/img/logo.png" alt="FELIETON Mariusza K"/>
                    </a>
                    
                    
                    <!--<a href="#">O mnie</a><a href="#">🔎</a><a href="#">&#8592; &#8594;</a>!-->
                    <a class="bigger" href="#">&#8249;</a>
                    <a href="#">1</a>
                    <a class="bigger" href="#">&#8250;</a>

                    <div class="search"><input id="searchtext" placeholder="Szukaj"><a id="search">🔎</a></div>

                    
                </div>
            </header>
            <div class="content">
                <aside class="content-side">
                    <a href="#" class="logo">
                        <img src="template/img/logo.png" alt="FELIETON Mariusza K"/>
                    </a>
                    <table class="content-side-info">
                        <tr><td>Korekta:</td><td>Marian Kowalski</td></tr>
                        <tr><td>Opublikowano:</td><td>wczoraj</td></tr>
                    </table>

                    <table class="content-side-info">
                        <tr><td>Korekta:</td><td>Marian Kowalski</td></tr>
                        <tr><td>Opublikowano:</td><td>wczoraj</td></tr>
                    </table>

                    <!--<div class="content-side-info" style="padding:0;">
                        <div class="fb-page" data-href="https://www.facebook.com/kramsrebrnysokol/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"></div>
                    </div>-->

                    <div class="content-side-info" style="text-align:center;">
                        <div class="fb-like" data-href="https://www.facebook.com/felietonmk/" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
                        <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Example!!" data-url="http://example.pl" data-hashtags="FelietonMK" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                    <footer class="footer">
                        © 2017 by <a>Mariusz Krawczyk</a>.<br/>
                        Dosis font by <a href="http://www.impallari.com/dosis">Impallari Type</a>.<br/>
                        Hosted on <a href="http://github.com">GitHub</a>.
                    </footer>
                </aside>
                <div class="content-main">
                    <article>
                        <H2 CLASS="western">Zone No. 5</H2>
                        <P CLASS="western">Dla mieszkańców małej, skandynawskiej wioski
                        nastał ciężki okres. Całoroczne uprawy zostały zdziesiątkowane przez
                        wyjątkowo niską temperaturę podczas żniw, a ryby z połowu ledwie
                        wystarczały do wykarmienia całej osady. Zima przyszła bardzo szybko i
                        przyniosła ze sobą realną perspektywę głodu. Głodu, jakiego jeszcze
                        nie zaznali.</P>
                        <P CLASS="western">Jedynym miejscem, jakie mogło obfitować w
                        zwierzynę łowną, był Srebrny Las. Miał on jednak nad wyraz złą sławę
                        &mdash; w mniemaniu ludu samo wejście na ten obszar sprowadzało
                        nieszczęście. Każdy z mieszkańców miał jakieś negatywne wspomnienie
                        związane ze Srebrnym Lasem, a opowieści o ludziach znikających między
                        drzewami były tematami powszechnych plotek i rozbudzały wyobraźnię
                        lokalnych skaldów.</P>
                        <P CLASS="western">Sytuacja pogarszała się z każdym kolejnym dniem, a
                        jarl nie mógł pozwolić, by jakieś zmyślone zabobony doprowadziły do
                        śmierci głodowej mieszkańców wioski. I choć spotkał się z głośnym
                        sprzeciwem ludu, zarządził polowanie. Kilku mężczyzn zgodziło się
                        dołączyć do niego.</P>
                        <P CLASS="western">Gdy tylko nastał świt uzbrojeni w łuki oraz
                        włócznie weszli do Srebrnego Lasu. Pospolite obawy nie były
                        bezpodstawne &mdash; już od pierwszych kroków las budził niepokój.
                        Brakowało mu runa i podszytu, a strzeliste sosny wydawały się
                        precyzyjnie rozmieszczone w układzie zaplanowanym przez jakąś
                        inteligentną istotę.</P>
                        <P CLASS="western">Myśliwi mieli szczęście &mdash; Srebrny Las był
                        pełen zwierzyny, która nawet nie uciekała. Od bardzo dawna nie miała
                        tutaj naturalnego wroga ani żadnych kontaktów z człowiekiem. Po
                        niecałych trzech godzinach mężczyźni zebrali tyle zdobyczy, że
                        spokojnie mogli wracać do wioski. Pakowali swoje toboły, gdy nagle w
                        oddali dostrzegli jelenia o majestatycznym porożu<!-- Miał poroże czy coś tam – trzeba to jakoś ciekawie opisać -->.
                        Myśliwi zastygli w bezruchu na widok spokojnego obserwatora<!-- Mateuszowi nie pasuje, bo odrywa -->.
                        Jarl pomyślał, że upolowanie tego dostojnego zwierzęcia byłoby
                        doskonałym ukoronowaniem łowów i przekonałoby lud, że nie należy
                        obawiać się tego miejsca. Za pomocą cichych gestów wydał wojownikom
                        polecenia i samemu schylił się po łuk. Powoli napinał cięciwę,
                        ignorując ból wrzynającej się w palce linki. Wziął głęboki oddech.
                        Jeszcze kawałek i... strzała świsnęła! Jeleń odskoczył, a grot utkwił
                        w konarze jednego<BR>z drzew. Ruszono w pogoń.</P>
                    </article>
                    <!--<div id="disqus_thread"></div>-->
                    <div class="fb-comments" data-href="https://google.com" data-width="100%" data-numposts="5"></div>
                </div>

            </div>
        </div>
        <gcse:searchresults-only gname="searchOnlyCSE" refinementStyle="link" enableOrderBy="false" sort_by="date" noResultsString="Nic nie znaleziono" linkTarget="_self" queryParameterName="search"></gcse:searchresults-only>
        <div id="fb-root"></div>
        <script src="template/js/jquery.min.js"></script>
        <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.8&appId=214751045595488";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        
         <script>
/*window.__gcse = {
  callback: googleCSELoaded
}; 
function googleCSELoaded() {
  // The hook in question.
  $("#search").click(function() {
    var searchText = $("#searchtext").val();
    if(searchText.trim().length == 0){
        $("#searchtext").focus();
        return;
    }
    var element = google.search.cse.element.getElement('searchOnlyCSE');
    element.execute(searchText);
  })
}


  (function() {
    var cx = '001082022360898461399:564mhoe2l9w';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();*/
</script>
    </body>
</html>